{% extends "layout.html" %}
{% block content %}
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
        <h1>Welcome to NITTCF</h1>
        <p>NITT's own complaint forum</p>
        <div class="d-flex justify-content-center align-items-center w-100 gap-4">
            <a href="{{url_for('register')}}" class="btn btn-dark">Register</a>
            <a href="{{url_for('login')}}" class="btn btn-dark">Login</a>
        </div>
    </div>
{% endblock content %}